.navigation-links{
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
    gap: 44px;
}

.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.navigation__link{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-right: 16px;
    text-decoration: none;
}

.navigation__link-active{
    margin-right: 16px;
    font-weight: bold;
}

.navigation__link_color_white{
    color: #FFFFFF;
}
.navigation__link-account{
    width:100px;
    height: 32px;
    border: none;
    background-color: inherit;   
    border: 2px solid rgb(170, 170, 170, .3) ;
    border-radius: 50px;    
    background-image: url('../../images/profile-icon.svg');
    background-repeat: no-repeat;
    background-position: 10% 50%;
    
}

.navigation__link-account:hover{
    cursor: pointer;
    opacity: 0.6;
}

.navigation__account-text{ 
    margin: 0;
   margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;   
    color: #FFFFFF; 
    text-align: center;
}

@media screen and (max-width: 769px){
    .navigation{
        display: none;
    }
}

