.search-form__content{
    background: #202020;
    font-family: 'Inter', Arial, 'sans-serif';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    padding: 80px 70px 98px 70px;    
    max-width: 1280px;
    border-bottom: 1px solid #424242;
}

.search-form{
    width: 1086px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 28px;
}

.search-form__input{
    width: 1086px;
    height: 50px;
    background: #2F2F2F;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
}

::-webkit-input-placeholder {
    color: #8B8B8B;
}

.search__button{
    width: 44px;
    height: 44px;
    background: #4285F4;
    border: none;
    border-radius: 8px;
    background-image: url(../../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}