.auth{
    background: #202020;
    font-family: 'Inter', Arial, 'sans-serif';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    padding: 70px 34% 70px 34%;      
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

.auth__form{
    display: flex;
    flex-direction: column;
}

.auth__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.auth__form-label{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    margin-bottom: 12px;
}

.auth__input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #424242;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.auth__input:last-of-type{
    margin-bottom: 6px;
}

.auth__submit{
    margin-top: 152px;
    width: 100%;
    height: 45px;
    border: none;
    background: #4285F4;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.auth__submit:hover{
    cursor: pointer;
    opacity: 0.6;
}

.auth__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
    margin: 0 auto;
    margin-top: 16px;
}

.auth__link{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    margin-left: 6px;
}

.auth__link:hover{
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 940px) {
    .auth{
        padding: 235px 186px 235px 186px;
    }
    .auth__submit{
        width: 100%;
    }
}

@media screen and (max-width: 620px){
    .auth{
        padding: 56px 80px 30px 80px;
    }
}

@media screen and (max-width: 420px){
    .auth{
        padding: 56px 30px 30px 30px;
    }
    .auth{
        align-items: center;
        justify-content: center;
    }    
    
    .auth__form{
        width: 100%;
    }

    .auth__wrapper{
        flex-direction: row;    
    }

    .auth__submit{
        margin-top: 309px;
    }
    
    .auth__text{
        margin-top: 14px;
        font-size: 12px;
        line-height: 15px;
    }

    .auth__link{
         font-size: 12px;
        line-height: 15px;
    }
}


