.nav-tab{
    background: #272727;
    font-family: 'Inter', Arial, 'sans-serif';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    padding-top: 24px; 
    padding-bottom: 24px;
    max-width: 1280px;
}

.nav-tab__list:hover{
    cursor: pointer;
    opacity: 0.6;
}

.nav-tab__list{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
    justify-content: center;
    margin: 0;
}

.nav-tab__link{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;    
    text-decoration-line: underline;
    color: #FFFFFF;
}

@media screen and (max-width: 480px){
    .nav-tab{
        padding-top: 25px; 
        padding-bottom: 25px;
    }
    .nav-tab__list{
        width: 100%;
        padding: 0;
        gap: 24px;       
    }
    .nav-tab__link{
        font-size: 11px;
    }
}